// Disease Conditions
$disease-fill-diabetes: #ffcd34;
$disease-border-diabetes: #bd8f2c;
$disease-fill-pulmonary: #ff0094;
$disease-border-pulmonary: #a2005e;
$disease-fill-cardio-hypertension: #15a4a7;
$disease-border-cardio-hypertension: #046f7d;
$disease-fill-cardio-cholesterol: #99ca3c;
$disease-border-cardio-cholesterol: #2a7600;
$disease-fill-cardio-nonwarfarin: #29bb9b;
$disease-border-cardio-nonwarfarin: #03886b;
$disease-fill-opiods: #0281ff;
$disease-border-opiods: #0f2184;
$disease-fill-geriatrics: #9e9e9e;
$disease-border-geriatrics: #191919;
$disease-fill-inflammatory: #ff7109;
$disease-border-inflammatory: #cf3301;
$disease-fill-multiple-sclerosis: #cc982d;
$disease-border-multiple-sclerosis: #ae6701;
$disease-fill-hiv: #bf0000;
$disease-border-hiv: #200000;
$disease-fill-behavioral: #a675ff;
$disease-border-behavioral: #673bb8;

$accent-0: $disease-fill-diabetes;
$accent-0-border: $disease-border-diabetes;
$accent-1: $disease-fill-pulmonary;
$accent-1-border: $disease-border-pulmonary;
$accent-2: $disease-fill-cardio-hypertension;
$accent-2-border: $disease-border-cardio-hypertension;
$accent-3: $disease-fill-cardio-cholesterol;
$accent-3-border: $disease-border-cardio-cholesterol;
$accent-4: $disease-fill-cardio-nonwarfarin;
$accent-4-border: $disease-border-cardio-nonwarfarin;
$accent-5: $disease-fill-opiods;
$accent-5-border: $disease-border-opiods;
$accent-6: $disease-fill-geriatrics;
$accent-6-border: $disease-border-geriatrics;
$accent-7: $disease-fill-inflammatory;
$accent-7-border: $disease-border-inflammatory;
$accent-8: $disease-fill-multiple-sclerosis;
$accent-8-border: $disease-border-multiple-sclerosis;
$accent-9: $disease-fill-hiv;
$accent-9-border: $disease-border-hiv;
$accent-10: $disease-fill-behavioral;
$accent-10-border: $disease-border-behavioral;

// Chart Colors
$chart-color-0: #4FC3F7;
$chart-color-1: #4DB6AC;
$chart-color-2: #AED581;
$chart-color-3: #FFF176;
$chart-color-4: #FFB74D;
$chart-color-5: #E57373;
$chart-color-6: #BA68C8;
$chart-color-7: #7986CB;
$chart-color-8: #1E88E5;
$chart-color-9: #008192;
$chart-color-10: #43A047;
$chart-color-11: #C0CA33;
$chart-color-12: #FFB300;
$chart-color-13: #F4511E;
$chart-color-14: #D81B60;
$chart-color-15: #5E35B1;
$chart-color-16: #0D47A1;
$chart-color-17: #006064;
$chart-color-18: #33691E;
$chart-color-19: #827717;
