@import "../../shared/css/variables";

.router-tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: var(--border);
    margin-bottom: 24px;
    padding-top: 16px;

    a {
        display: inline-block;
        flex: 0 0 auto;
        font-family: $med;
        font-size: 15px;
        color: var(--action-alt);
        text-align: center;
        padding: 24px 24px;
        border-bottom: 2px solid transparent;
        cursor: pointer;

        &:hover {
            border-color: var(--action-alt-hover);
            color: var(--action-alt-hover);
        }

        &:active {
            border-color: var(--action-alt-active);
            color: var(--action-alt-active);
        }

        &.selected {
            border-color: var(--action);
            color: var(--action);
        }
    }
}
