@import "../../../shared/css/variables";

.input-password {

    position: relative;

    .password-show-hide {
        position:absolute; top:37px; right: 16px;
        cursor: pointer; color: var(--action);
    }

    &.err {

        input {
            border-color: var(--utility-red);
        }
        .input-password-error-icon {
            position:absolute; top:36px; right: 16px;
            width: 24px;
            fill: var(--utility-red);
            cursor: pointer;
            height: 24px;
            > g {
                fill: var(--utility-red);
            }
        }
        .message {
            font-family: $reg; font-size: 14px; color: var(--utility-red);
            width: auto;
            margin-top: 8px;
            text-align: right;
            &:empty { display: none; }
        }

        .password-show-hide {
            right: 50px;
            color: var(--utility-red);
        }

    }

}

