@import "../../../shared/css/variables/index";

.select {

    position: relative;

    .select-error-icon, .message {
        display: none
    }

    .select-caret-icon {
        position:absolute; bottom:0.8rem; right: 16px;
        width: 28px;
        fill: var(--action-alt);
        cursor: pointer;
        pointer-events: none;
        height: 24px;
    }

    &.disabled {
        .description {
            opacity: .4;
        }
    }

    &.err {

        select {
            color: var(--utility-red);
            border-color: var(--utility-red);
        }

        .select-error-icon {
            position: absolute; top:36px; right: 50px;
            width: 24px;
            fill: var(--utility-red);
            cursor: pointer;
        }

        .message {
            font-family: $reg; font-size: 14px; color: var(--utility-red);
            width: auto;
            margin-top: 8px;
            text-align: right;
        }

    }

}

