@import "../../shared/css/variables";

.old-native-checkbox {

    display: block; position: relative;
    padding-left: 35px; margin-bottom: 12px;
    user-select: none;
    cursor: pointer;

    .description {
        position: relative; top: 2px;
        cursor: pointer;
    }

    &.disabled {
        .checkbox-text {
            color: var(--text-muted);
        }
    }

    .checkmark {
        position: absolute; top: 0; left: 0;
        height: 24px; width: 24px;
        border: var(--input-border); border-radius: 4px;
        background-color: var(--input-background);
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            display: none;
        }
    }

    input[type='checkbox'] {
        position: absolute;
        width: 0; height: 0;
        opacity: 0;
        &:checked ~ .checkmark {
            background-color: var(--action);
            border-color: rgba(#000, .8);
            &::after {
                content: '';
                display: block;
                position: relative; left: 9px; top: 3px;
                width: 4px; height: 12px;
                border: solid var(--action-alt);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
        &:checked ~ .description {
            color: var(--action);
        }
        &:disabled ~ .checkmark {
            opacity: .2;
            cursor: default;
        }
        &:disabled ~ .description {
            opacity: .2;
            cursor: default;
        }
    }

}
