@import "../../shared/css/variables";

.list-vertical-across {

    width: 100%;

    dl.item {

        display: flex;
        margin-top: 10px; padding-left: 15px;

        dt {
            flex: 0 0 auto;
            width: 240px;
            font-family: $med; font-size: 14px; text-transform: capitalize;
        }
        dd { flex: 1 0 auto; }

        @media only screen and (max-width: 480px) {
            display: inline-block;
            dt {
                margin-bottom: 3px;
                font-family: $med; font-size: 14px; text-transform: capitalize;
            }
        }

    }

}


